.cart-options,.remove-item{
    text-align: center;
}
.cart-options span{
    font-size: 18px;
    line-height: 22px;
    padding:0px 10px;
    font-weight: 500;
}
.place-order{
    padding-bottom: 30px;
    text-align: center;
}
.totalprice{
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}