.error-message{
    background-color: #f4c7c7;
    color: #3e0505;
}
.error-main{
    padding: 30px;
}
.error-title h2{
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}
.error-message p{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}